<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Products</title>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="../app.js"></script>
	<script type="text/javascript" src="../dragger/my-draggable.js"></script>
	<link rel="stylesheet" href="../dragger/my-draggable.css">

	<script type="text/javascript" src="products.js"></script>
	<link rel="stylesheet" href="products.css">
	<script type="text/javascript" src="../users/user_service.js"></script>
</head>
<body class="container">
	<div ng-include="'../menubar.html'"></div>
	<div ng-app="app" ng-controller="prods-ctrl">
		<h3>Products: <button ng-click="edit()">Add New</button></h3>
		<div ng-show="listStyle=='table'">
		<table class="table">
			<tr>
				<!-- <th>ID</th> --> <th>Name</th> <th>Unit Price</th> <th>Description</th> <th>Photo</th> <th> <span>Options</span></th>
			</tr>
			<tr ng-repeat="x in products">
				<!-- <td>{{x._id}}</td> -->
				<td>{{x.name}}</td>
				<td>{{x.unitprice}}</td>
				<td>{{x.description}}</td>
				<td>{{x.name}}</td>
				<td><span><button ng-click="addToCart(x._id, x.name)">Add to Cart</button></span> | <span><button ng-click="edit(x._id)">edit</button> </span></td>
			</tr>
		</table>
		</div>
		<div class="row" ng-show="listStyle=='card'">
			<div ng-repeat="prod in products" class="w3-card-4 col col-sm-3" style="margin: 20px; height: 250px;">
				<div style="overflow: auto;">
					<b style="text-align: center;">{{prod.name}}</b>
					<img alt="{{prod.photo}}" src="../img/{{prod.photo}}" width="150" height="150" style="display: block; margin: auto; " >
					<ul style="list-style: none;">
						<li>{{prod.description}} </li>
						<!-- attributes -->
						<!-- 
						<li> 
							<ul style="list-style: none;">
								<li ng-repeat="attr in prod.attribs">
									<b>{{attr.name}} :</b> 
									<img ng-show="attr.type == 'image'" alt="{{attr.value}}" src="../img/{{attr.value}}" width="50" height="50" > 
									<span ng-show="attr.type == 'text'">{{attr.value}}</span>
								</li>
							</ul>
						</li>
						 -->
					</ul>
				</div>
				<!-- options -->
				<div style="position:absolute; bottom:0; ">
					<span><a ng-click="addToCart(prod._id, prod.name)">Add To Cart</a> </span>
					<span>&nbsp;|&nbsp;<a ng-click="edit(prod._id)" >Edit</a></span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>