<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Addresses</title>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="../app.js"></script>
	<script type="text/javascript" src="../dragger/my-draggable.js"></script>
	<link rel="stylesheet" href="../dragger/my-draggable.css">
	
	<script type="text/javascript" src="addresses.js"></script>
	<link rel="stylesheet" href="addresses.css">
	<script type="text/javascript" src="../users/user_service.js"></script>
</head>
<body class="container">
	<div>
		<a href="/">Home</a>
		<hr>
	</div>
	<div ng-app="app" ng-controller="addresses-ctrl">
		<span ng-show="activeU === undefined">Enter User Name : <input ng-model="uname">
			<button ng-click="loadAddresses(uname)" ng-disabled="uname == ''">List Addresses</button>
		</span>

		<h3>
			Addresses:
			<button ng-click="edit(uname)" ng-disabled="uname == ''">Add New</button>
		</h3>

		<div ng-show="addresses.length > 0" class="row">
			<div ng-repeat="x in addresses" class="w3-card-4 col col-sm-3" style="margin: 20px; height: 250px;">
				<div ng-show="x.is_default">
					<b style="color: green;">Default Address</b>
					<hr>
				</div>
				<ul style="list-style: none;">
					<li><b>{{x.full_name}}</b> </li>
					<li>{{x.street_line1}} </li>
					<li>{{x.street_line2}} </li>
					<li>{{x.city}}, {{x.state}} {{x.pincode}}  </li>
					<li>{{x.country}} </li>
					<li>Phone Number: {{x.mobile_number}} </li>
				</ul>
				<div style="position:absolute; bottom:0; ">
					<span><a ng-click="edit(x.uname, x._id)">Edit</a> </span>
					<!-- <span>&nbsp;|&nbsp;<a ng-click="remove(x.uname, x._id)" >Delete</a></span> -->
					<span ng-hide="x.is_default">&nbsp;|&nbsp;<a ng-click="setDefault(x.uname, x._id)" >Set as Default</a></span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>