<!DOCTYPE html>
<html>
<head>
<title>My Cart: Register</title>
<script type="text/javascript" src="js/cart-app.js"></script>
<script type="text/javascript" src="js/user_service.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body class="container">
	<div ng-app="registerApp" ng-controller="registerCtrl">
		<h2>Register to MyCart</h2>
		<table class="table table-striped">
			<tr>
				<td>User Name:</td>
				<td><input ng-model="uname" name="uname"></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input ng-model="upwd" name="upwd" type="password">
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<button ng-click="register();" class="w3-btn w3-green w3-ripple">
						Register</button>
				</td>
			</tr>
		</table>
		<span ng-include="'_footer.html'"></span>
	</div>
</body>
<script type="text/javascript">
	var app = angular.module("registerApp", []);
	var ctrl = app.controller(
			"registerCtrl",
			function($scope) {
				$scope.uname = "Ritesh";
				$scope.upwd = "Ritesh";

				$scope.register = function() {

					var usr = UserService.addUser(UserService.newUser(
							$scope.uname, $scope.upwd));
					//alert(usr);
					if (usr) {
						alert("added user : " + usr.toStr());
						window.location = "login.html";
						// $location.url("./login.html");
					} else {
						alert("Problem in adding user details. Try again");
					}
				};
			});
</script>
</html>